:root {
  /*font family*/
  --font-fam-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;

  /*margin-paddding*/
  --mar-pad-1: 5px;
  --mar-pad-2: 10px;
  --mar-pad-3: 15px;
  --mar-pad-4: 20px;
  --mar-pad-5: 25px;
  --mar-pad-6: 30px;
  --mar-pad-7: 35px;
  --mar-pad-8: 40px;
  --mar-pad-9: 45px;
  --mar-pad-10: 50px;

  /*font-size*/
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-size-5: 22px;
  --font-size-6: 24px;
  --font-size-7: 26px;

  /*font-weight*/
  --font-weight-1: 500;
  --font-weight-2: 600;
  --font-weight-3: 700;
  --font-weight-4: 800;
  --font-weight-5: 900;

  /*width-height*/
  --size-1: 100px;
  --size-1-2: 150px;
  --size-2: 200px;
  --size-2-2: 250px;
  --size-3: 300px;
  --size-3-2: 350px;
  --size-4: 400px;
  --size-4-2: 450px;
  --size-5: 500px;
  --size-5-2: 550px;
  --size-6: 600px;
  --size-6-2: 650px;
  --size-7: 700px;
  --size-7-2: 750px;

  /*color*/
  --col-bg-1: #8b25ff;
  --col-bg-2: #ffffff;
  --col-bg-3: #ead8ff;
  --col-bg-4: #6300d3d1;
  --col-bg-5: #d4d4d4d4;
  --col-bg-hover-1: #9f4bff;
  --col-text-1: #ffffff;
  --col-text-2: #bb46ff;
  --col-text-hover-1: #d996ff;
  --col-text-3: rgba(123, 123, 123, 0.726);
  --col-text-4: rgb(123, 123, 123);
  --col-text-5: rgb(228, 228, 228);
  --col-text-6: rgb(56, 56, 56);
  --col-icon-1: green;
  --col-icon-2: red;
  --col-scrollbar-1: #f1f1f1;

  /*border radius*/
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 20px;
  --border-radius-6: 24px;
  --border-radius-7: 28px;
  --border-radius-8: 32px;
  --border-radius-9: 36px;
  --border-radius-10: 40px;
  --border-radius-11: 44px;
  --border-radius-12: 48px;
  --border-radius-13: 52px;

  --border-radius-percent: 50%;

  /*letter-spacing*/
  --letter-spacing-1: 0.05em;

  /*box-shadow*/
  --box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fam-apple);
}

/*scroll-bar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--col-scrollbar-1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--col-bg-hover-1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--col-bg-hover-1);
}

/*display-options*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-items {
  align-items: center;
}

.flex-start-items {
  align-items: flex-start;
}

/*link-margin*/
.link-margin-1-vertical {
  margin: 0 var(--mar-pad-3) 0 !important;
}

/*title-margin*/
.title-margin-1 {
  margin-bottom: var(--mar-pad-1);
}

.title-margin-2 {
  margin-bottom: var(--mar-pad-2);
}

.title-margin-3 {
  margin-bottom: var(--mar-pad-3);
}

.title-big-margin-1 {
  margin-bottom: var(--mar-pad-5);
}

/*title border*/
.title-border-bottom-1 {
  padding-bottom: var(--mar-pad-1);
  border-bottom: 1px var(--col-text-4) solid;
}

/*title-fontsize*/

.title-fontsize-min-1 {
  font-size: var(--font-size-1) !important;
}

.title-fontsize-min-2 {
  font-size: var(--font-size-2) !important;
}

.title-fontsize-min-3 {
  font-size: var(--font-size-3) !important;
}

.title-fontsize-1 {
  font-size: var(--font-size-4) !important;
}

.title-fontsize-2 {
  font-size: var(--font-size-5) !important;
}

.title-fontsize-3 {
  font-size: var(--font-size-6) !important;
}

/*title-color*/
.title-color-1 {
  color: var(--col-text-1) !important;
}

/*icon margin*/

.icon-margin-1 {
  margin: var(--mar-pad-1) !important;
}

.icon-margin-2 {
  margin: var(--mar-pad-2) !important;
}

.icon-margin-3 {
  margin: var(--mar-pad-3) !important;
}

/*text-options*/
/*possitions*/

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}
