:root {
  /*font family*/
  --font-fam-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;

  /*margin-paddding*/
  --mar-pad-1: 5px;
  --mar-pad-2: 10px;
  --mar-pad-3: 15px;
  --mar-pad-4: 20px;
  --mar-pad-5: 25px;
  --mar-pad-6: 30px;
  --mar-pad-7: 35px;
  --mar-pad-8: 40px;
  --mar-pad-9: 45px;
  --mar-pad-10: 50px;

  /*font-size*/
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-size-5: 22px;
  --font-size-6: 24px;
  --font-size-7: 26px;

  /*font-weight*/
  --font-weight-1: 500;
  --font-weight-2: 600;
  --font-weight-3: 700;
  --font-weight-4: 800;
  --font-weight-5: 900;

  /*width-height*/
  --min-size-1: 25px;
  --min-size-1-2: 35px;
  --min-size-2: 50px;
  --min-size-2-1: 60px;
  --min-size-3: 75px;
  --size-1: 100px;
  --size-1-2: 150px;
  --size-2: 200px;
  --size-2-2: 250px;
  --size-3: 300px;
  --size-3-2: 350px;
  --size-4: 400px;
  --size-4-2: 450px;
  --size-5: 500px;
  --size-5-2: 550px;
  --size-6: 600px;
  --size-6-2: 650px;
  --size-7: 700px;
  --size-7-2: 750px;

  --size-8: 800px;
  --size-8-2: 850px;
  --size-9: 900px;
  --size-9-2: 950px;
  --size-10: 1000px;
  --size-10-2: 1050px;
  --size-11: 1100px;
  --size-11-2: 1150px;
  --size-12: 1200px;
  --size-12-2: 1250px;

  /*color*/
  --col-bg-1: #8b25ff;
  --col-bg-2: #ffffff;
  --col-bg-3: #ead8ff;
  --col-bg-4: #6300d3d1;
  --col-bg-5: #d4d4d4d4;
  --col-bg-6: #a41cffd2;
  --col-bg-7: #dceaffd2;
  --col-bg-8: #eef5ffd2;
  --col-bg-9: #efefef;
  --col-bg-10: #b957ff;
  --col-bg-11: #b041ff;
  --col-bg-12: #a11eff;
  --col-bg-13: #9d13ff;
  --col-bg-14: #9500ff;
  --col-bg-hover-1: #9f4bff;
  --col-bg-hover-2: #f7eaffd4;
  --col-text-1: #ffffff;
  --col-text-hover-1: #d996ff;
  --col-text-2: #bb46ff;
  --col-text-3: rgba(123, 123, 123, 0.726);
  --col-text-4: rgb(123, 123, 123);
  --col-text-5: rgb(228, 228, 228);
  --col-text-6: rgb(56, 56, 56);
  --col-text-7: #6139ff;
  --col-text-8: #0f0f0f;
  --col-text-9: #e8e8e8;
  --col-icon-1: green;
  --col-icon-2: red;
  --col-scrollbar-1: #f1f1f1;

  /*border radius*/
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 20px;
  --border-radius-6: 24px;
  --border-radius-7: 28px;
  --border-radius-8: 32px;
  --border-radius-9: 36px;
  --border-radius-10: 40px;
  --border-radius-11: 44px;
  --border-radius-12: 48px;
  --border-radius-13: 52px;

  --border-radius-percent: 50%;

  /*letter-spacing*/
  --letter-spacing-1: 0.05em;

  /*box-shadow*/
  --box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-2: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --box-shadow-3: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  --box-shadow-4: rgba(0, 0, 0, 0.09) 0px 3px 12px;

  /*linear-gradient*/
  --lg-1: linear-gradient(180deg, rgba(70, 72, 156, 1) 1%, rgba(101, 40, 159, 1) 86%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-fam-apple);
}

/*scroll-bar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--col-scrollbar-1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--col-bg-hover-1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--col-bg-hover-1);
}

/*display-options*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-items {
  align-items: center;
}

.flex-start-items {
  align-items: flex-start;
}

.flex-end-items {
  align-items: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.full-width {
  width: 100%;
}

/*link-margin*/
.link-margin-1-vertical {
  margin: 0 var(--mar-pad-3) 0 !important;
}

/*title-margin*/
.title-margin-1 {
  margin-bottom: var(--mar-pad-1);
}

.title-margin-2 {
  margin-bottom: var(--mar-pad-2);
}

.title-margin-3 {
  margin-bottom: var(--mar-pad-3);
}

.title-margin-4 {
  margin-bottom: var(--mar-pad-4);
}

.title-margin-5 {
  margin-bottom: var(--mar-pad-5);
}

.title-big-margin-1 {
  margin-bottom: var(--mar-pad-5);
}

/*title border*/
.title-border-bottom-1 {
  padding-bottom: var(--mar-pad-1);
  border-bottom: 1px var(--col-text-4) solid;
}

/*title-fontsize*/

.title-fontsize-min-1 {
  font-size: var(--font-size-1) !important;
}

.title-fontsize-min-2 {
  font-size: var(--font-size-2) !important;
}

.title-fontsize-min-3 {
  font-size: var(--font-size-3) !important;
}

.title-fontsize-1 {
  font-size: var(--font-size-4) !important;
}

.title-fontsize-2 {
  font-size: var(--font-size-5) !important;
}

.title-fontsize-3 {
  font-size: var(--font-size-6) !important;
}

/*title-color*/
.title-color-1 {
  color: var(--col-text-1) !important;
}

.title-color-2 {
  color: var(--col-text-3) !important;
}

.title-color-3 {
  color: var(--col-text-4) !important;
}

.title-color-4 {
  color: var(--col-text-5) !important;
}

.title-color-5 {
  color: var(--col-text-6) !important;
}

.title-color-6 {
  color: var(--col-text-7) !important;
}

/*colors*/
.purple {
  color: var(--col-bg-1) !important;
}

.white {
  color: var(--col-text-1) !important;
}
.white-2 {
  color: var(--col-text-9) !important;
}

.black {
  color: var(--col-text-8) !important;
}

.gray-1 {
  color: var(--col-text-3) !important;
}

.gray-2 {
  color: var(--col-text-4) !important;
}

.gray-3 {
  color: var(--col-text-5) !important;
}

.gray-4 {
  color: var(--col-text-6) !important;
}

/*background-colors*/
.bg-col-1 {
  background-color: var(--col-bg-1) !important;
}

.bg-col-1-hover-1 {
  background-color: var(--col-bg-hover-1) !important;
}

/*card-colors*/
.card-col-1 {
  background-color: var(--col-bg-10) !important;
}

.card-col-2 {
  background-color: var(--col-bg-11) !important;
}

.card-col-3 {
  background-color: var(--col-bg-12) !important;
}

.card-col-4 {
  background-color: var(--col-bg-13) !important;
}

.card-col-5 {
  background-color: var(--col-bg-14) !important;
}

/*icon-color*/

.icon-color-1 {
  color: var(--col-bg-1) !important;
}

.icon-color-2 {
  color: var(--col-bg-2) !important;
}

.icon-color-3 {
  color: var(--col-bg-3) !important;
}

.icon-color-4 {
  color: var(--col-bg-4) !important;
}

/*icon margin*/

.icon-margin-1 {
  margin: var(--mar-pad-1) !important;
}

.icon-margin-2 {
  margin: var(--mar-pad-2) !important;
}

.icon-margin-3 {
  margin: var(--mar-pad-3) !important;
}

.icon-margin-4 {
  margin: var(--mar-pad-4) !important;
}

.icon-margin-5 {
  margin: var(--mar-pad-5) !important;
}

.icon-margin-right-1 {
  margin-right: var(--mar-pad-1) !important;
}

.icon-margin-right-2 {
  margin-right: var(--mar-pad-2) !important;
}

.icon-margin-right-3 {
  margin-right: var(--mar-pad-3) !important;
}

.icon-margin-right-4 {
  margin-right: var(--mar-pad-4) !important;
}

.icon-margin-top-1 {
  margin-top: var(--mar-pad-1) !important;
}

.icon-margin-top-2 {
  margin-top: var(--mar-pad-2) !important;
}

.icon-margin-top-3 {
  margin-top: var(--mar-pad-3) !important;
}

.icon-margin-left-1 {
  margin-left: var(--mar-pad-1) !important;
}

.icon-margin-left-2 {
  margin-left: var(--mar-pad-2) !important;
}

.icon-margin-left-3 {
  margin-left: var(--mar-pad-3) !important;
}

.icon-margin-left-4 {
  margin-left: var(--mar-pad-4) !important;
}

/*not*/
.not-margin {
  margin: 0 !important;
}

.not-padding {
  padding: 0 !important;
}

/*text-options*/
/*possitions*/

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}
