@import '../common/common.css';

/*base*/

/*common*/

.fontsize-dashboard {
  font-size: var(--font-size-4) !important;
}

.fontsize-dashboard-min {
  font-size: var(--font-size-3) !important;
}

.max-width-100 {
  max-width: 550px;
}

/*link*/

.link-base {
  background-color: transparent;
  transition: 0.5s background-color;
  padding: var(--mar-pad-2);
}

.link-base:hover {
  background-color: var(--col-bg-hover-1);
}

.link {
  text-decoration: none;
  color: var(--col-text-1);
}

.link h2 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-1);
}

/*icon link*/
.link-icon {
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-2);
}

.link-icon .icon {
  margin-right: var(--mar-pad-3);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-4);
}

/*text-link*/
.link-text {
  text-decoration: none;
  color: var(--col-text-2);
  transition: 0.5s color;
  margin: var(--mar-pad-1);
}

.link-text:hover {
  color: var(--col-text-hover-1);
}

/*button-link*/
.button-link {
  background-color: var(--col-bg-1);
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius-1);
  color: var(--col-text-1);
  text-decoration: none;
  outline: none;
  padding: var(--mar-pad-1);
  transition: background-color 0.5s;
}

.button-link:hover {
  background-color: var(--col-bg-hover-1);
}

/*border-icon-link*/
.border-icon-link {
  cursor: pointer;
  border-radius: var(--border-radius-percent);
  width: max-content;
  height: max-content;
  padding: var(--mar-pad-2);
  background-color: var(--col-bg-1);
}

.border-icon-link .link {
  flex: 1;
  display: inherit;
}

/*blank-link*/
.blank-link {
  text-decoration: none;
  color: var(--col-text-7);
}

.blank-link a {
  text-decoration: none;
  color: inherit;
}

/*blank-border-icon-link*/
.blank-border-icon-link {
  align-items: center;
  justify-content: center;
  padding: var(--mar-pad-2);
  border-radius: var(--border-radius-percent);
  background-color: var(--col-bg-2);
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
}

.blank-border-icon-link a {
  text-decoration: none;
}

/*text-boxes*/
/*search-text-box*/
.text-box-search {
  align-items: center;
  width: max-content;
  padding: var(--mar-pad-2);
  margin: var(--mar-pad-3);
  border-radius: var(--border-radius-6);
  background-color: var(--col-bg-2);
  width: 100%;
}

.text-box-search .icon {
  margin-right: var(--mar-pad-2);
  color: var(--col-text-2);
  opacity: 70%;
  font-size: var(--font-size-5);
}

.text-box-search .input-text {
  font-size: var(--font-size-4);
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  color: var(--col-text-4);
}

.close-text-box {
  display: none;
}

.open-text-box {
  display: flex;
}

.text-box-search .input-text::placeholder {
  color: var(--col-text-3);
}

.button-text-box {
  padding: var(--mar-pad-2);
  border-radius: var(--border-radius-1);
  background-color: var(--col-bg-2);
  width: 100%;
  max-width: 1000px;
}

.button-text-box .input-text {
  font-size: var(--font-size-4);
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  color: var(--col-text-4);
}

.button-text-box .input-text::placeholder {
  color: var(--col-text-3);
}

.button-text-box button {
  padding: var(--mar-pad-1) var(--mar-pad-2);
  border: none;
  border-radius: inherit;
  background-color: var(--col-bg-1);
  color: var(--col-text-1);
  transition: 0.5s;
  font-size: var(--font-size-2);
}

.button-text-box button:hover {
  cursor: pointer;
  background-color: var(--col-bg-hover-1);
  transform: scale(1.1);
}

/*buttons*/
/*icon-button*/
.btn-icon {
  cursor: pointer;
  align-items: center;
}

.btn-icon p {
  margin-left: var(--mar-pad-2);
}

/*classic-button*/
.btn-classic {
  border: none;
  border-radius: var(--border-radius-4);
  background-color: var(--col-bg-1);
  color: var(--col-text-1);
  padding: var(--mar-pad-2) var(--mar-pad-3);
  font-size: var(--font-size-2);
  cursor: pointer;
  transition: background-color 0.5s;
  text-align: center;
}

.btn-classic:hover {
  background-color: var(--col-bg-hover-1);
}

/*text-button*/
.btn-text {
  height: max-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--col-text-4);
  font-size: var(--font-size-1);
  width: max-content;
  border-bottom: 1px solid transparent;
}

.btn-text:hover {
  border-bottom-color: var(--col-text-4);
}

/*texts*/
/*text-a*/
.text-a {
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-1);
  cursor: default;
  margin: var(--mar-pad-1);
  font-weight: var(--font-weight-1);
}

/*text-b*/

.text-b {
  font-size: var(--font-size-4);
  letter-spacing: var(--letter-spacing-1);
  cursor: default;
  margin: var(--mar-pad-1);
  font-weight: var(--font-weight-3);
}

/*content-text*/
.content-text {
  font-size: var(--font-size-2);
  width: 100%;
  text-align: left;
  color: var(--col-text-6);
}

.content-text::selection {
  background-color: var(--col-bg-1);
  color: var(--col-text-1);
}

/*img*/
/*mini-img*/

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.mini-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--col-bg-3);
  box-shadow: var(--box-shadow-1);
}

.mini-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*logo-img*/
.logo-img {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--border-radius-3);
  padding: var(--mar-pad-8);
}

.logo-img img {
  object-fit: cover;
  max-width: 150px;
}

/*card-img*/
.card-img {
  background-color: var(--col-bg-5);
  border-radius: var(--border-radius-2);
  overflow: hidden;
}

.card-img img {
  flex: 1;
  object-fit: cover;
}

/*three-img*/
.three-img {
  padding: var(--mar-pad-1);
}

.three-img img {
  width: var(--min-size-1-2);
  height: var(--min-size-1-2);
  border-radius: var(--border-radius-percent);
  object-fit: cover;
  border: 1px solid var(--col-text-5);
}

.three-img .transform-1 {
  transform: translateX(-5px);
}

.three-img .transform-2 {
  transform: translateX(-10px);
}

/*background-img*/
.background-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-img img {
  flex: 1;
  object-fit: cover;
}

/*charts*/
/*column-chart*/
.col-chart {
  width: 100%;
  min-width: 350px;
}

/*titles*/
/*general*/
.title-mid {
  font-size: var(--font-size-5);
}

.title-thin {
  font-weight: var(--font-weight-1);
}

.title-purple {
  color: var(--col-bg-1);
}

/*icons*/
/*graph-up-down-icon*/
.graph-up-down-icon {
  padding: var(--mar-pad-1);
}

.graph-up-down-icon .bs-graph-icon {
  background-color: transparent;
}

.graph-up-down-icon .icon-up {
  color: var(--col-icon-1);
}

.graph-up-down-icon .icon-down {
  color: var(--col-icon-2);
}

/*arrow-up-down-icon*/
.arrow-up-down-icon {
  color: var(--col-text-1);
  margin: var(--mar-pad-3);
}

/*border-icon*/
.border-icon {
  cursor: pointer;
  border: 1px solid var(--col-bg-1);
  padding: var(--mar-pad-1);
  border-radius: var(--border-radius-2);
  height: max-content;
  transition: 0.5s all;
}

.border-icon:hover {
  filter: opacity(80%);
}

/*list boxes*/
.list-box {
  padding: var(--mar-pad-1) var(--mar-pad-2);
  outline: none;
  border: none;
}

.list-box-type-a {
  border-radius: var(--border-radius-2);
  background-color: var(--col-bg-1);
  color: var(--col-text-1);
}

/*sliders*/

/*details-slider*/
.details-slider {
  max-height: var(--size-4);
  height: auto;
  user-select: none;
  background-color: transparent;
}

.details-slider .slider {
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.details-slider .slider .slide {
  align-items: center;
  background-color: transparent;
}

.details-slider .slider .slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: var(--size-12-2);
}

/*vertical-slider*/
.vertical-slider {
  height: 100%;
  width: clamp(var(--size-2), var(--size-9), 60%);
  border-radius: var(--border-radius-2);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}

.vertical-slider .slider {
  width: 100%;
  height: 100%;
}

.vertical-slider .slider .slide {
  align-items: center;
  background-color: transparent;
}

.vertical-slider .slider .slide img {
  object-fit: cover;
  height: 100%;
}

/*vertical-person-slider*/
.vertical-person-slider {
  height: 100%;
  width: clamp(var(--size-1), var(--size-3), 40%);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-1);
  overflow: hidden;
}

.vertical-person-slider .slider {
  width: 100%;
  height: 100%;
}

.vertical-person-slider .slider .slide {
  align-items: center;
  background-color: transparent;
  justify-content: center;
}

.slider-card {
  align-items: center;
  cursor: pointer;
}

.slider-card img {
  border-radius: var(--border-radius-percent);
  width: var(--size-1);
  height: var(--size-1);
  object-fit: cover;
}

.slider-card span {
}

/*tabs*/

/*tab-type-a*/
.tab-type-a {
  text-align: center;
  flex: 1;
  min-width: var(--size-1);
  list-style: none;
  cursor: pointer;
  background-color: var(--col-bg-1);
  color: var(--col-text-1);
  padding: var(--mar-pad-2) var(--mar-pad-1);
  user-select: none;
  transition: background-color 0.5s;
}

.tab-type-a:hover {
  background-color: var(--col-bg-hover-1);
}
